{% load static %}
{% url 'pform:homeView' as path_home %}
{% url 'posts:post-list-create' as path_board %}
{% url 'pform:selectView' as path_select %}
{% url 'profiles:profileView' as path_profiles %}<!-- ? as ile adini deyise bilirsen gelen datanin djangoda,cox frameworde beledir bu,esasen databaseye baglidir bu hadise -->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary font-q fixed-top py-3">
    <div class="container">
        <a class="navbar-brand" href="{% url 'pform:homeView' %}">Improveo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_home %}active{% endif %}" href="{{path_home}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_board %}active{% endif %}" href="{{path_board}}">Board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_select %}active{% endif %}" href="{{path_select}}">Get report</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{path_profiles}}" class="nav-link {% if request.path == path_profiles %} active {% endif %}">
                            <img src="{{picprofile.url}}" class="img-avatar" style="height:35px;width:35px;border-radius: 50%;" alt="profile picture">
                            <span class="ml-2">{{request.user}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">
                            <i class="fas fa-power-off mt-2"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">
                                <i class="fa fa-sign-in-alt"></i>
                            </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
